.active {
  text-decoration: underline;
}
.shop-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url('./assets/banner2.png');
  /* background-size: cover; */
  background-position: left;
  height: 150px;
  margin: 30px 0px;
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 10% 100%);
  position: relative; 
}
.shop-title {
  position: absolute;
  left: 150px;
  top: 0px;
}
.shop-tagline {
  position: absolute;
  left: 220px;
  top: 70px;
}
.shop-main {
  display: flex;
}
.shop-sidebar {
  width: 30%;
  margin-left: 1em;
}
.shop-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82%;
  gap: 3em;
}
.home-container {
  display: flex;
  flex-direction: column;
}
.home-banner-container {
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
  gap: 10em;
}
.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.home-banner-img {
  width: 50%;
}