.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 90%;
    overflow: hidden;
    margin-top: 1em;
    box-sizing: border-box;
}
.small {
  font-size: large;
  justify-content: flex-end;
  position: absolute;
  top: 50px;
  right: 40px
}
.logo {
    height: 9em;
    padding: 1em;
  }
  
.links {
    display: flex;
    list-style-type: none;
    margin-right: 4em;
    padding: 0;
}
.links > * + * {
  margin-left: 2em;
}
.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
.divider {
    width: 0.1em; /* Width of the line */
    height: 500%; /* Adjust based on your navbar's height */
    background-color: black; /* Color of the line */
    transform: rotate(90deg);
  }
  @media (max-width: 985px) {
    .divider {
      display: none;
    }
}
.hamburger-menu {
    display: none;
    cursor: pointer;
  }
  .hamburger-menu.open div:nth-child(2) {
    opacity: 0; /* Hide the middle bar */
  }
  .hamburger-menu.open div:nth-child(1) {
    transform: translateY(9px) rotate(45deg); /* Top bar rotated */
  }
  .hamburger-menu.open div:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg); /* Bottom bar rotated */
  }
.hamburger-menu div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: transform 0.3s, opacity 0.3s;
  }
@media (max-width: 768px) {
    .navbar {
      margin: 1em auto;
    }
    .logo {
      position: absolute;
      left: 120px;
      height: 6em;
    }
    .small {
      margin: 0em;
    }
    .hamburger-menu {
      display: block;
      z-index: 102;
    }
    .right-nav {
      display: none;
      position: absolute;
      top: 78px; /* Position below hamburger menu */
      left: 0;
      width: 100%;
      background-color: white;
      border: 1px black solid;
      flex-direction: column;
      align-items: start;
      padding-left: 20px;
      z-index: 101;
    }
    .right-nav.open {
      font-size: 2em;
      display: flex;
      flex-direction: column;
      /* height: 6em; */
      width: 50%;
    }
    .links {
      flex-direction: column;
      width: 100%;
      padding: 0px;
      margin: 0px;
    }
    .links li {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      /* padding-bottom: 6px; */
      height: 3em;
      margin-left: 0px;
      border-bottom: 1px black solid;
    }
  }