.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 90%;
    overflow: hidden;
    margin-top: 1em;
  
}
.small {
  font-size: large;
  justify-content: flex-end;
  position: absolute;
  top: 50px;
  right: 40px
}
.logo {
    height: 9em;
    padding: 1.5em;
  }
  
.links {
    display: flex;
    list-style-type: none;
    margin-right: 4em;
}
.links > * + * {
  margin-left: 2em;
}
.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
.divider {
    width: 0.1em; /* Width of the line */
    height: 500%; /* Adjust based on your navbar's height */
    background-color: black; /* Color of the line */
    transform: rotate(90deg);
  }
  @media (max-width: 985px) {
    .divider {
      display: none;
    }
}
.cart-container {
  background-color: rgb(30, 23, 14);
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  z-index: 101;
  border-radius: 5% 0% 0% 5%;
  padding: 2em;
}
.cart-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.cart-items {
  height: 85vh;
  display: flex;
  flex-direction: column;
}
.cart-item {
  margin: 0.6em;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.cart-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vw; /* Adjusts based on viewport width */
  width: 15vw; /* Adjusts based on viewport width */
  max-height: 80px; /* Ensures it doesn't get too big on large screens */
  max-width: 80px; /* Ensures it doesn't get too big on large screens */
  background-color: white;
  border-radius: 10%;
  overflow: hidden;
}
.cart-image {
  height: 70%;
  width: 70%;
  background-color: white;
  
}
.cart-title {
  max-width: 50%;
  font-weight: bold;
}
.cart-price {
  font-weight: 300;
}
.total {
  font-size: 25px;
  font-weight: bold;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100; /* Ensure it's above other content but below the cart */
}


.hamburger-menu {
    display: none;
    cursor: pointer;
  }
  .hamburger-menu.open div:nth-child(2) {
    opacity: 0; /* Hide the middle bar */
  }
  .hamburger-menu.open div:nth-child(1) {
    transform: translateY(9px) rotate(45deg); /* Top bar rotated */
  }
  .hamburger-menu.open div:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg); /* Bottom bar rotated */
  }
.hamburger-menu div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: transform 0.3s, opacity 0.3s;
  }
@media (max-width: 768px) {
    .logo {
      position: absolute;
      left: 120px;
    }
    .hamburger-menu {
      display: block;
      z-index: 102;
    }
    .cart-container {
      width: 40%;
      font-size: 8px;
      font-weight: bold;
    }
    .cart-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0em;
      margin: 0.5em;
    }
    .cart-image-container {
      max-height: 100px;
      max-width: 100px;
      height: 100px;
      width: 100px;
    }
    .cart-price {
      padding: 0px;
      margin: 0px;
      font-weight: 500;
    }
    .cart-title {

    }

    .right-nav {
      display: none;
      position: absolute;
      top: 78px; /* Position below hamburger menu */
      left: 0;
      width: 100%;
      background-color: white;
      border: 1px black solid;
      flex-direction: column;
      align-items: start;
      padding-left: 20px;
      z-index: 101;
    }
    .right-nav.open {
      font-size: 2em;
      display: flex;
      flex-direction: column;
      /* height: 6em; */
      width: 50%;
    }
    .links {
      flex-direction: column;
      width: 100%;
      padding: 0px;
      margin: 0px;
    }
    .links li {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      /* padding-bottom: 6px; */
      height: 3em;
      margin-left: 0px;
      border-bottom: 1px black solid;
    }
  }